.cell {
	width: 11vw;
	height: 7vw;
	border-radius: 10px;
	display: flex;
	font-weight: 900;

	.date {
		justify-self: flex-start;
		align-self: flex-start;
		margin: 10% 0 0 10%;
		font-size: 0.8em;
	}
	&__active {
		background-color: lightblue;
		color: darkslategray;
		cursor: pointer;
	}
	&__inactive {
		background-color: grey;
		color: lightgray;
	}
	&__weekday {
		background-color: lightcoral;
		color: white;
		justify-content: center;
		align-items: center;
		font-size: 1.3em;
	}
}
